<form action="" class="daterange-form">
  <div class="form-group form-inline">
    <label for="daterange" class="daterange-label">Report By Date</label>
    <input type="text" class="form-control daterange-input"
           name="daterange">
  </div>
</form>