<%= link_to new_search_file_path, remote: true, method: :get, class:'btn btn-success btn-upload', title: 'Upload CSV' do %>
  <i class="fa fa-upload" aria-hidden="true"></i>
  Upload CSV
<% end %>
<!--<button type="button" class="btn btn-success btn-upload">Upload CSV</button>-->