<div class="container home">
  <div class="row">
    <div class="col-md-6">
      <%= render 'home/upload_button' %>
    </div>

    <div class="col-md-6">
      <%= render 'home/daterange_form' %>
    </div>
  </div>
  <%= render 'home/table' %>
</div>

<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>